/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+SK:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap'); */
.App{
  
    background-image: url("https://wallpapercave.com/wp/wp2645307.jpg");
    background-size: cover;
    
}
body {
  font-family: "Roboto" !important; 
  scroll-behavior: smooth;
}
/* .pacifico-regular {

    font-size: 2.5rem;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .playwrite-sk {
    font-family: "Playwrite SK", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  
  .asap-bold {
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }  
  .asap {
    font-family: "Asap";
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }   */
